.div1{
height: 98%;
position: fixed;
}
.list-menu{
    list-style-type: none;
}
.list-menu li{
    display: flex;
    font-size: 26px;
}
.list-menu span{
    margin-right: 10px;
    margin-top: 10px;
}
button{
    border: none;
    margin-left: 60px;
}
.Conta{
    position: absolute;
    display: flex;
    margin-left: 20px;
    margin-top: 2%;
}
.Conta div{
    margin-top: 5px;
    margin-left: 15px;
}
.Conta img{
    border-radius: 50%;
    width: 100px;
    height: 80px;
}
.btn-new-twitter{
    width: 200px;
}
.icon-twitter{
padding: 20px 0px 0px 20px;
}
.div2{
    margin-top: 2px;
    height: 100%;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    margin-left: 20%;
}
.digiteAlgo{
    display: flex;
    margin-top: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.digiteAlgo p{
    margin-top: 20px;
}
.digiteAlgo img{
    border-radius: 50%;
    width: 100px;
    height: 80px;

}

.topohome{
    display:flex ;
    justify-content: space-between;

}
.postado{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    
}
.postado p{
    font-size: larger;
}
.imgpostagem{
    width: 300px;
    height: 150px;
}
.img{
    border-radius: 50%;
    width: 100px;
    height: 80px;

}
.line{ margin-top: -10px;
display: flex;
flex-wrap: wrap;
}
.nomeemail{
    display: flex;
}
.nomeemail p{
    display: flex;
    margin-left: 20px;
}


.div3{
    position: fixed;
    margin-left: 72%;
}

.pesquisa{
    display: flex;
}

.noticia{
    margin-top: 40px;
    display: flex;
}
.noticia a{
display: flex;
text-decoration: none;
}

.imgnoticia{
    width: 5%;
    height: 70px;
    margin-left: 50px;
}
.textonoticia{
    display: flex;
    flex-wrap: wrap;
}